/* 
    Document   : styleSwitcher
    Created on : 11.08.2012., 16:41:51
    Author     : Pixel Industry
    Description:
        Stylesheet for StyleSwitcher
*/
#page-wrapper{
    margin:0 auto;
    width: 1120px;
	max-width:100%;
    background: #fff;
}
#page-stretch{
    margin:0 auto;
    width: 100%;
    background: #fff;
}

#page-wrapper.wide_layout{
margin:0 auto;
width:100%;
}
#page-stretch.boxed_layout{
margin:0 auto;
width: 1120px;
max-width:100%;
}

#page-stretch.boxed_layout .pi-header-sticky,
#page-wrapper .pi-header-sticky{
width: 1120px;
max-width:100%;
margin:0 auto;
}
#page-wrapper.wide_layout .pi-header-sticky,
#page-stretch .pi-header-sticky{
width:100%;
}


#page-wrapper.widelayout .static{
max-width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
    position: fixed;
    top: 0;
    z-index: 9999;    
}
#page-stretch.boxlayout .static{
max-width: 1230px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    
    position: fixed;
    top: 0;
    z-index: 9999;    
}

#style-switcher{
    position: fixed;
    left: -200px;
    top: 80px;
    background: #21252b;
	opacity:0.7;
    width: 200px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 2px;
    z-index: 12500;
	color:#fff;
	text-transform:uppercase;
}
#style-switcher h5 {
font-size: 11px;
font-weight: 600;
text-shadow: 0 1px 0 rgba(0,0,0,0.3);
color: #fff;
letter-spacing: 4px;
}
#style-switcher .wrapper-inner{
margin-top: 20px;
float: left;
width: 100%;
}
.aura-boxed a, 
.aura-stretched a{
   background: #323841;
    width: 100%;
    font-size: 12px;
	text-decoration:none;
    color: #fff;
	padding:10px;
	-webkit-box-shadow: inset 0 1px 0 rgba(250,250,250,0.08), 0 1px 1px rgba(0,0,0,0.15);
-moz-box-shadow: inset 0 1px 0 rgba(250,250,250,0.08), 0 1px 1px rgba(0,0,0,0.15);
box-shadow: inset 0 1px 0 rgba(250,250,250,0.08), 0 1px 1px rgba(0,0,0,0.15);
}

.aura-boxed.active a, 
.aura-stretched.active a{
    background: #1a1e22;
    color: #fff;
    width: 100%;
	-webkit-box-shadow: inset 0 1px 0 rgba(250,250,250,0.08), 0 1px 1px rgba(0,0,0,0.15);
-moz-box-shadow: inset 0 1px 0 rgba(250,250,250,0.08), 0 1px 1px rgba(0,0,0,0.15);
box-shadow: inset 0 1px 0 rgba(250,250,250,0.08), 0 1px 1px rgba(0,0,0,0.15);
}
#styles-container{
float: left;
width: 100%;
padding: 20px;
}






#style-switcher h6{
    font: 13px Arial, sans-serif;
    line-height: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
    text-transform: none;
}

#style-switcher p{
    font: 12px Arial, sans-serif;
    margin-bottom: 10px;
}


#style-switcher #styles-button{
position: absolute;
top: 0px;
background: #21252b;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
padding: 10px;
color: #fff;
font-size: 20px;
text-align: center;
}

#style-switcher #styles-button #switcher-logo{
    background: url('img/logo.png') no-repeat;
    width: 30px;
    height: 30px;
}

#style-switcher .styles-list{
    overflow: hidden;
}

#style-switcher .styles-list li{
    float: left;
    width: 25px;
    height: 25px;

    text-indent: -9999px;
    margin: 0 5px 5px 0;
    cursor: pointer;
}

#style-switcher .styles-list li:hover{
    opacity: 0.9;
}

#style-switcher select{
    background: #f8f8f8;
    border: 1px solid #AAA;
    color: #555;
    font: 12px 'Droid Sans';
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}

/*************************
    CUSTOM THEME STYLES
**************************/

	/*-- Color Chose css --*/

#style-selector {
    background: #fff;
	width: 140px;
	position: fixed;
	right: 0;
	top: 101px;
	z-index: 9999;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	}
.style-selector-wrapper {
    -webkit-box-shadow: 0 2px 9px 2px rgba(0,0,0,0.14);
	-moz-box-shadow: 0 2px 9px 2px rgba(0,0,0,0.14);
	box-shadow: 0 2px 9px 2px rgba(0,0,0,0.14);
	border: 1px solid rgba(23,24,26,0.15);
	}
.style-selector-wrapper .title{
	display: block;
    background: #FBF9F9;
    text-align: center;
    font-size: 15px;
	font-weight: 600;
    line-height: 44px;
	text-transform: capitalize;
	border-bottom:1px solid rgba(23,24,26,0.15);
	}
#style-selector .title-sub2 {
	display: block;
    color: #CCCCCC;
    text-align: center;
    font-size: 12px;
	line-height:41px;
	line-height:41px;
	border-bottom:1px solid rgba(23,24,26,0.15);
    }
.style-selector-wrapper{
	text-align:center;
	background: #fff;
	}

.wrapper-inner ul {
    margin:0;
	list-style:none;
    }
.wrapper-inner ul  li{
    margin:5px;
	padding:0;
	float:left;
	width:25px;
	height:25px;
    }
#style-selector a.close {
    position: absolute;
    top: 45px;
    left: -35px;
    width: 35px;
    height: 43px;
    line-height: 43px;
    text-align: center;
	font-size: 28px;
	font-weight:lighter!important;
    background-color: #fff;
	border: 1px solid #DCDDDD;
	border-left:none!important;
	-webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
	border-radius:5px 0 0 5px;
	opacity:1 !important;
    }
#style-selector a.active {
    box-shadow: 0 0 0 2px #000;
    }
/* ----------- Colors ----------- */
.pre-color-skin1{
	width:25px;
	height:25px;
	background-color: #e86343;
	float: left;
	cursor: pointer;
	}
.pre-color-skin2{
	width:25px;
	height:25px;
	background-color: #0dc0c0;
	float: left;
	cursor: pointer;
	}
.pre-color-skin3{
	width:25px;
	height:25px;
	background-color: #86ba41;
	float: left;
	cursor: pointer;
	}
.pre-color-skin4{
	width:25px;
	height:25px!important;
	background: #a5604a!important;
	float: left;
	cursor: pointer;
	}
.pre-color-skin5{
	width:25px;
	height:25px;
	background-color: #609ddb;
	float: left;
	cursor: pointer;
	}
.pre-color-skin6{
	width:25px;
	height:25px;
	background-color: #f58b3c;
	float: left;
	cursor: pointer;
	}
.pre-color-skin7{
	width:25px;
	height:25px;
	background-color: #18ba60;
	float: left;
	cursor: pointer;
	}
.pre-color-skin8{
	width:25px;
	height:25px;
	background-color: #9373B8;
	float: left;
	cursor: pointer;
	}
.pre-color-skin9{
	width:25px;
	height:25px;
	background-color: #f9ab02;
	float: left;
	cursor: pointer;
	}
.pre-color-skin10{
	width:25px;
	height:25px;
	background-color: #f0bc3e;
	float: left;
	cursor: pointer;
	}
.pre-color-skin11{
	width:25px;
	height:25px;
	background-color: #fff;
	float: left;
	cursor: pointer;
	border: 1px solid black;
	}
.pre-color-skin12{
	width:25px;
	height:25px;
	background-color: #000;
	float: left;
	cursor: pointer;
	border: 1px solid black;
	}
	
	
#style-selector .styles-noborder {
	overflow: hidden;
	margin: 0px 0px 0px 0px;
}
#style-selector .styles-noborder li {
	float: left;
	margin: 0px 4px;
	padding: 0;
	color: #ddd;
}
#style-selector .styles-noborder li img {
	float: left;
	width: 50px;
	height: 40px;
}
.sub3{
	border-top: 1px solid rgba(23,24,26,0.15);
}
.clr_bg{
	background-color: #ffd737!important;
	cursor: pointer;
}
ul.layout-list{float:left; padding:0px 10px;}
.layout-list li{
  float:left; 
  text-align:center;
  list-style: none;
}
.layout-list li a{
  background: #666;
  margin-right: 10px;
  padding:6px;}
.layout-list li.active a{background:#000;color:#fff;} 
#styles-button i{margin:0px;}